# Python
*.pyc
*.pyo
*.pyd
__pycache__/
env/
venv/
*.egg-info/
*.egg

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Java
*.class
*.jar
*.war
*.ear

# C/C++
*.o
*.obj
*.exe
*.out
*.log

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# IDEs
.vscode/
.idea/
*.swp

# Logs
*.log

# Build files
/build/
dist/
*.tgz

# Secrets
.env
*.env

# Others
*.bak
*.tmp
*.old

